################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vs/COOMS/v17/.wsuo
/.vs/COOMS/v17/DocumentLayout.backup.json
/.vs/COOMS/v17/DocumentLayout.json
